<div class="register-page">
  <div class="register-block">
    <img
      alt="Company Icon"
      src="assets/main-logo.svg"
      class="login-user-authorization_logo"
    />
    <form [formGroup]="form" (ngSubmit)="register()" class="form">
      <ui-input
        placeholder="Type your first name"
        label="FIRST NAME"
        formControlName="firstname"
        class="register-input"
      ></ui-input>
      <ui-input
        placeholder="Type your last name"
        label="LAST NAME"
        formControlName="lastname"
        class="register-input"
      ></ui-input>
      <ui-input
        placeholder="Type your login"
        label="Login"
        formControlName="login"
        class="register-input"
      ></ui-input
      ><ui-input
        placeholder="Type your password"
        label="PASSWORD"
        type="password"
        formControlName="password"
        class="register-input"
      ></ui-input>
      <ui-input
        placeholder="Type your password again"
        label="PASSWORD AGAIN"
        type="password"
        formControlName="passwordAgain"
        class="register-input"
      ></ui-input>
      <div class="error" *ngIf="isUserAlreadyExist">
        This login is already in use
      </div>
      <span *ngIf="isPasswordsNotEqual" class="error"
        >Passwords are not equal</span
      >
      <ui-button
        class="register-btn"
        text="Login"
        [isDisabled]="!form.valid"
      ></ui-button>
    </form>
    <span className="sign_in">
      Do you have an account?
      <a class="login-user_request-register_link" [routerLink]="['/login']">
        Sign in
      </a>
    </span>
  </div>
  <ui-loading *ngIf="loading" />
  <div *ngIf="isRegistered" class="registered-modal">
    <span class="registered-message">You are registered</span>
  </div>
</div>
