.product-card {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid grey;
  border-radius: 16px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
  &:hover {
    transition: 0.5s;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
}

.product-image {
  width: 70px;
}