<ui-modal (close)="onClose()">
  <form [formGroup]="form" (ngSubmit)="onSave()" class="form">
    <ui-input
      placeholder=""
      label="Title"
      formControlName="title"
      class="edit-input"
    ></ui-input>
    <ui-textarea
      placeholder=""
      label="Description"
      formControlName="description"
      class="edit-input"
    ></ui-textarea>
    <ui-select
      [defaultValue]="form.value.type"
      label="Type"
      [options]="typeOptions"
      [(currentSelection)]="_type"
      (currentSelectionChange)="setType($event)"
    ></ui-select>
    <span class="error" *ngIf="errorMessage">{{
      errorMessage | titlecase
    }}</span>
    <ui-button
      class="save-btn"
      text="Save"
      [isDisabled]="form.invalid"
    ></ui-button>
  </form>
</ui-modal>
