<div class="login-user-page">
  <img
    alt="Company Icon"
    src="assets/main-logo.svg"
    class="login-user-authorization_logo"
  />
  <form [formGroup]="form" (ngSubmit)="login()" class="form">
    <ui-input
      label="E-MAIL"
      placeholder="Type your e-mail"
      icon="../assets/icon-mail.svg"
      formControlName="email"
      type="email"
      [isError]="email.errors?.pattern"
      class="login-input"
      errorMessage="Mail should look like this: johnsmith@gmail.com"
    />
    <ui-input
      placeholder="Type your password"
      label="PASSWORD"
      icon="../assets/icon-lock.svg"
      formControlName="password"
      type="password"
      [isError]="password.errors?.pattern"
      class="login-input"
      errorMessage="The password must be 6-18 characters long and only Latin letters"
    />
    <span class="error" *ngIf="errorMessage">{{
      errorMessage
    }}</span>
    <ui-button text="Login" class="login-btn" />
  </form>
  <span className="login-user_request-register">
    Not a member?
    <a class="login-user_request-register_link" [routerLink]="['/register']">
      Request registration
    </a>
  </span>
</div>
<ui-loading *ngIf="loading"></ui-loading>
<ui-footer />
